<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Piccolo Todo API</title>
  </head>
  <body>
    <h1>Piccolo Todo</h1>

    <h2>Python API Related</h2>
    <ul>
      <li><a href="/docs">API Docs</a></li>
      <li><a href="/redoc">Redoc</a></li>
      <li><a href="/api/health">Health</a></li>
    </ul>
    <h2>Python Apps</h2>
    <ul>
      <li><a href="/admin/">Admin</a></li>
      <li><a href="/app/">Server App</a></li>
      <li><a href="/htmx/">HTMX App</a></li>
    </ul>
    <h2>Frontend Apps</h2>
    <ul>
      <li><a href="{{ refine_url }}">Refine Frontend</a></li>
      <li><a href="{{ openapi_lowcode_url }}">OpenAPI Frontend (openapi-lowcode)</a></li>
      <li><a href="{{ openapi_scaffold_url }}">OpenAPI Frontend (my-new-app)</a></li>
      <li><a href="{{ expo_frontend_url }}">Expo Frontend (frontend)</a></li>
      <li><a href="{{ expo_scaffold_url }}">Expo Frontend (my-new-expo-app)</a></li>
    </ul>
  </body>
</html>
